@font-face {
    font-family: 'Supreme Spike';
    src: url('assets/fonts/SupremeSpike.otf') format('opentype');
}

body {text-align: center;}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(2, 62, 138) 3%, rgb(0, 12, 85) 38%, rgb(2, 62, 138) 68%, rgb(0, 12, 85) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(51, 89, 204, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

h1 {
    color: #bdc3d4;
    letter-spacing: 8px;
    font-size: 100px;
    font-family: 'Supreme Spike', sans-serif;
    margin-top: 90px;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
}

.welcome-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    width: 900px;
    border-radius: 20px;
    padding: 60px 80px;
    display: inline-block;
}

#welcome-message {color: #ffffff; 
    font-size: 20px;
    letter-spacing: 3px; 
    font-family: 'Supreme Spike', sans-serif; 
    margin-bottom: 40px;
    margin-top: -10px;
}

#description {color: #ffffff; 
    font-size: 20px; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 40px;
    margin-top: -10px;
}

.category-btn {
    background-color: #0c1a40;
    border-radius: 40px; 
    color: white; 
    margin-top: 10px;
    padding: 10px 20px; 
    font-size: 16px;}



#game-input {
    width: 800px;
    margin-top: 20px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: crosshair;
    border-radius: 10px;
    padding: 0 20px;
}

#game-input:hover {
    box-shadow: 0 0 15px #3b82f6;
    transition: 0.3s;
}

#recommend-btn {background-color: #1e273f;
    font-family: 'Supreme Spike', sans-serif;
    letter-spacing: 2px; 
    color: #ffffff; 
    padding: 20px 40px; 
    font-size: 16px; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer; 
    box-shadow: 0 4px #1a2e6c;
    margin-top: 40px; 
}

#recommend-btn:hover {background-color: #2c3961;}
#recommend-btn:active {background-color: #2c3961; 
    box-shadow: 0 2px #1a2e6c; 
    transform: translateY(2px);}
   