@font-face {
    font-family: 'Supreme Spike';
    src: url('assets/fonts/SupremeSpike.otf') format('opentype');
}

* {
    user-select: none;
}

body {text-align: center;}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(1, 10, 23) 3%, rgb(0, 12, 85) 38%, rgb(7, 22, 42) 68%, rgb(4, 11, 61) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(23, 40, 90, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.logo {
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 4px;
    font-family: 'Supreme Spike', sans-serif;

    text-shadow: 0 0 15px rgba(255, 255, 255, 0.25);

    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    color: #ffffff;
    text-shadow: 0 0 25px #5b8cff;
}

.navbar {
    position: sticky;
    top: 0;

    background: rgba(0, 0, 40, 0.5);
    backdrop-filter: blur(10px);

    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 25px 60px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Supreme Spike', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;

    padding: 10px 18px;
    border-radius: 15px;

    transition: 0.3s ease;
}

.navbar a:hover {
    background-color: rgba(70, 90, 200, 0.4);
    box-shadow: 0 0 15px #3b6cff;

    transform: translateY(-2px);
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.hero-title {
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Supreme Spike', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-shadow: 0 0 20px rgba(80, 120, 255, 0.6);
}

.hero-description {
    color: #bdbdbd;
    font-size: 18px;
    letter-spacing: 1px;

    margin: 0;
}

h2 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
}

.welcome-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    width: 900px;
    border-radius: 20px;
    padding: 60px 80px;
    display: inline-block;
}

#welcome-message {color: #ffffff; 
    font-size: 20px;
    letter-spacing: 3px; 
    font-family: 'Supreme Spike', sans-serif; 
    margin-bottom: 40px;
    margin-top: -10px;
}

#description {color: #ffffff; 
    font-size: 20px; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 40px;
    margin-top: -10px;
}

.category-btn {
    background-color: #0c1a40;
    border-radius: 40px; 
    color: white; 
    margin-top: 10px;
    padding: 10px 20px; 
    font-size: 16px;}

.category-btn:hover {
    background-color: #304d9d;
}

.selected {
    background-color: #304d9d;
    border-color: #6b8cff;

    box-shadow: 0 0 15px #304d9d;
}

#game-input {
    width: 800px;
    margin-top: 20px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: crosshair;
    border-radius: 10px;
    padding: 0 20px;
}

#game-input:hover {
    box-shadow: 0 0 15px #16386f;
    transition: 0.3s;
}

#recommend-btn {background-color: #1e273f;
    font-family: 'Supreme Spike', sans-serif;
    letter-spacing: 2px; 
    color: #ffffff; 
    padding: 20px 40px; 
    font-size: 16px; 
    border: none; 
    border-radius: 15px; 
    cursor: crosshair; 
    box-shadow: 0 4px #0a122a;
    margin-top: 40px; 
}

#recommend-btn:hover {background-color: #2c3961;}
#recommend-btn:active {background-color: #2c3961; 
    box-shadow: 0 2px #1a2e6c; 
    transform: translateY(2px);}
   
.game-result {
    background-color: rgba(26, 28, 98, 0.853);
    width: 380px;
    margin: 40px auto;
    padding: 35px 30px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.game-result h3 {color: #ffffff; 
    font-size: 30px;}
.game-result p {color: #ffffff;}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal.hidden {
    display: none;
}